<!--TODO: Edit form to collect goal information, name etc.
        - Change colours
        - Add actions to buttons to submit information
        - Clean up unnecessary css -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title> Sign Up | Best Fit </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <form class="login100-form validate-form" action="/signup" method="POST">
					<span class="login100-form-title">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid Student ID is required: 123456789">
						<input class="input100" type="text" id="studentid" name="studentid" placeholder="Student ID">
						<span class="focus-input100"></span>
					</div>

                    	<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="email" name="email" placeholder="Email Address">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="password" id="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input" >
						<input class="input100" type="confirm-password" id="confirm" name="cpass" placeholder="Confirm Password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<input class="btn" type=submit name="submit_id" id="btn_id" value="Submit" onclick="submitform()">
							Sign Up
						</input>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script >

    </script>

</body>
</html>