<!--TODO: Everything lol -->

<!DOCTYPE html>
<html lang="en" class="no_background_image">
<head>
	<title> Workout Programs | Best Fit </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!--NAV BAR STYLE SHEET -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
 /* Moved to main.css*/
</style>

</head>
<body class=" landing">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Best Fit</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li><a href="workouts">Workouts and Programs</a></li>
      <li><a href="#">About Us</a></li>
        <li>
    <form class="newsearch" style="float:right">
        <input type="text" placeholder="Search workouts ...">
        <button type="submit">Search</button>
    </form></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

    </ul>
  </div>
</nav>

<br>
<h1> Workouts and Programs

    <form class="search-wrapper cf" style="float:right">
        <input type="text" placeholder="Search here ..." required style="box-shadow: none;">
        <button type="submit">Search</button>
    </form></h1>

<!-- SEARCH BAR CODE - ONLY ONE THAT WORKING ANYWAY
<div class = "alignRight">
    <div class="container">
      <div class="row searchFilter" >
         <div class="col-sm-4" >
          <div class="input-group" >
           <input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown" >
           <div class="input-group-btn" >
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Category</span> <span class="caret" >&nbsp;</span></button>
            <div class="dropdown-menu dropdown-menu-right" >
               <ul class="category_filters" >
                <li >
                 <input class="cat_type category-input" data-label="All" id="all" value="" name="radios" type="radio" ><label for="all" >All</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Newest" value="Newest" ><label class="category-label" for="Newest" >Newest Workout</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Oldest" value="Oldest" ><label class="category-label" for="Oldest" >Oldest Workout</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Longest" value="Longest" ><label class="category-label" for="Longest" >Longest Workout</label>
                </li>
                <li >
                 <input type="radio" name="radios" id="Shortest" value="Shortest" ><label class="category-label" for="Shortest" >Shortest Workout</label>
                </li>
               </ul>
            </div>
            <button id="searchBtn" type="button" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
           </div>
          </div>
         </div>
      </div>
    </div>
</div>


<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

-->


</body>
</html>